*.swp
*.swo
*.pyc
*.so
*.cppimporthash
*.o
.rendered.*
.cache
__pycache__
*.egg-info

*.lprof
oprofile_data

cache_tectosaur
debug
build
dist

*.npy
!tests/golden_masters/*.npy
!tectosaur/data/*.npy

*.nvprof
